<!DOCTYPE html>
<html>
    <head>
        <title>Book Details</title>
    </head>
    <body>
        <h1></h1>
        <div>
            <%= link_to 'Edit Book', edit_book_path(@book) %>
            <p><%=@book.name %></p>
        </div>
    </body>
</html>